.cadastrar-curso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.curso-input {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.curso-button {
  padding: 10px 20px;
  background-color: #329c5b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.curso-button:hover {
  background-color: #267a44;
}

.curso-lista {
  list-style-type: none;
  padding: 0;
}

.curso-item {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.deletar-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 150px;
  border-radius: 4px;
  cursor: pointer;
}

.deletar-button:hover {
  background-color: darkred;
}


