.finish-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #caf0f8;
  font-family: "Arial", sans-serif;
}
.finish-screen h2 {
  color: #0077b6;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.finish-screen .thank-you-message {
  color: #0077b6;
  font-size: 2.5rem;
  font-weight: bold;
}
