.input-field {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.start-button {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background-color: #03045e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #0077b6;
}

.card-body p {
  font-size: 18px !important;
  text-align: justify;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100% !important;
}

h1{
  width: 100% !important;
  font-size: 2em !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2{
  
  font-size: 1em !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.input-field{
  padding: 10px;
margin:15px;  
  text-align: center;
border: none;
}



